:root {
  line-height: 1.5;
  /*font-family: "libre Baskerville", serif;*/
  font-family: "Jost", serif;
  color: floralwhite;
  font-weight: 400;
  background-color: #20533C;
  margin: 0;
}

body{
  margin: 0;
}
