.card {
    border: 1px solid #fff;
    border-radius: 8px;
    min-height: 680px;
}

.cardBackground{
    background: url("src/assets/Home3.png") no-repeat center;
    min-height: 695px;
    padding: 12px;
}

@keyframes animate-in {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}